<footer class="footer">
	
<%#= nav_bar fixed: :bottom, responsive: true, footer: true do %>
	<%# <%= link_to "home", root_path, id: "logo" %>

	<small>
		trip collections
	</small>

	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", root_path %></li>
			<li><%= link_to "Contact", root_path %></li>
		</ul>
	</nav>
<%# end %>
</footer>
